@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 2px; /* Universal margin for all elements */
    padding: 2px; /* Universal padding for all elements */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
} 

#photoShootForm {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: left;
}

div {
    text-align: center; 
    font-weight: bold;  
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.input-control input:focus {/*adds a small outline*/
    outline: 0;
}

.input-control.success input {/*if input is valid the border will turn green*/
    border-color: lightgreen;
}

.input-control.error input {/*if invalid input the border will turn red*/
    border-color: red;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 600px) {
    #photoShootForm {
        font-size: .8rem;
    }
}